@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa/Comfortaa.ttf);
}

* {
    margin:0;
    padding:0;
    background-color: rgb(173, 236, 245);
    font-family: 'Inter';
}

:root{
    --header-width: 100vw;
    --logo-width: 15vw;
    --top-menu-width: calc(var(--header-width) - var(--logo-width));
    --header-height: 75px;
    --main-content-width: var(--header-width);
    --main-content-height:calc(100vh - var(--header-height)*2);
    --left-menu-width: var(--logo-width);
    --right-menu-width: 300px;
    --right-menu-event-height:60px;
    --content-width: calc(var(--main-content-width) - var(--left-menu-width) - var(--right-menu-width));

}
#header {
    display:table table-row;
}
#top-menu {
    display:table-cell;
    width:var(--top-menu-width);
    height:var(--header-height);
    background-color: #7DC9FF;
    font-size: 40px;
    color: white;
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                 -1px 1px 0 #000, 
                  1px 1px 0 #000;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none
}
#logo {
    display:table-cell;
    background-color: #0093DD;
    background-image: url("img/logo.jpg") ;

    width:var(--logo-width);
}
#body-content {
    display:table table-row;
    word-break:normal;
}
#left-menu {
    display: table-cell;
    background-color: #DAFFF6;
    width:var(--left-menu-width);
    height:inherit;
    vertical-align: top;
    border: 0px;
    border-bottom:0.1vh;
    border-right:0.1vw;
    border-style: solid;
    border-color: #b2e4d6;
}
#left-menu .periods {
    background: linear-gradient(0deg, grey 0px, white 2px);
    margin:0;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 4%;
    text-align:center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
    cursor:pointer;
}


#right-menu {
    display:table-cell;
    background-color:#95ECFF;
    width:var(--right-menu-width);
    height:inherit;
    text-align: center; /*centralize blocks of events*/
    vertical-align: top;
    border: 0px;
    border-bottom:.1vh;
    border-left:.1vw;
    border-style: solid;
    border-color: #b2e4d6;
}

#right-menu .events {
    display: inline-block;
    width:70%;
    margin-top:5%;
    background-color:rgb(214, 248, 255);
    padding-top: calc(var(--right-menu-event-height)/2);
    padding-bottom: calc(var(--right-menu-event-height)/2);
    cursor:pointer;
}

#right-menu .events .event {
    display: inline-block;
    border:0;
    background:none; 
    font-size: 20px;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

#content {
    display:table-cell;
    width:var(--content-width);
    max-width:var(--content-width);
}
#content .main-page {
    display: inline-block;
    background: url("img/00_brn.jpg") no-repeat;
    background-size:cover;
    padding-top: 10%;
    width:inherit;
    height:max-content;
    min-height:var(--main-content-height);
    border: 0px;
    border-bottom:0.1vh;
    border-style: solid;
    border-color: #b2e4d6;
}
#content .main-page .element-table {
    display: table;
    background:none;
    max-height: var(--main-content-height);
    margin: auto;
}
#content .main-page .element-table .element-row {
    display: table-row;
    background:none;
}
#content .main-page .element-table .element-row .element-cell {
    display: table-cell;
    width:400px;
    height:300px;
    padding-left:5%;
    padding-right:5%;
    background:none;
    text-align: center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
#content .main-page .element-table .element-row .element-cell .element-block {
    display: table-cell;
    font-size:30px;
    font-weight: bold;
    font-family: 'Comfortaa';
    color: black;
    background-color:darkgray;
    background-size:cover;
    text-shadow:    -3px -3px 0 #fff, 
                    3px -3px 0 #fff, 
                    -3px 3px 0 #fff, 
                    3px 3px 0 #fff;
    width:300px;
    height:200px;
    border:6px;
    vertical-align: middle;
    border-style:solid;
    border-radius: 15px;
    border-color:aqua;
    cursor:pointer;

}

#content .text-block {

    min-height:var(--main-content-height);
}

#content .text-block .header {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size:40px;
    line-height: 50px;
    line-break: 100px;
}


#content .text-block .text {
    display: block;
    font-size:30px;
    margin-left:20%;
    margin-right:20%;
    width: calc(var(--content-width) - 20% - 20%);
    text-align:justify;
    justify-content: center;
}


#footer {
    display:table table-row;
    background-color: #DAFFF6;
}
#footer .content {
    display: table-cell;
    background:none;
    width:var(--header-width);
    height: var(--header-height);
}