@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: 'Comfortaa';
    src: url(fonts/Comfortaa/Comfortaa.ttf);
}

* {
    margin:0;
    padding:0;
    background-color: rgb(173, 236, 245);
    font-family: 'Inter';

}

:root{
    --header-width: 100vw;
    --logo-width: 15vw;
    --top-menu: calc(var(--header-width) - var(--logo-width));
    --header-height: 75px;
    --main-content-width: 100vw;
    --main-content-height:calc(100vh - var(--header-height)*2);
    --left-menu-width: var(--logo-width);
    --right-menu-width: 300px;
    --content-width: calc(var(--main-content-width) - var(--left-menu-width) - var(--right-menu-width));

}
#header {
    display:table table-row;
    width:var(--header-width);
    height:var(--header-height);
}
#top-menu {
    display:table-cell;
    width:var(--top-menu);
    height:var(--header-height);
    background-color: #7DC9FF;
    font-size: 40px;
    color: white;
    text-shadow: -1px -1px 0 #000, 
                  1px -1px 0 #000, 
                 -1px 1px 0 #aaa, 
                  1px 1px 0 #aaa;
    text-align: center;
    vertical-align: middle;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none
}
#logo {
    display:table-cell;
    background-color: #0093DD;
    width:var(--logo-width);
}
#body-content {
    display:table table-row;
    width: var(--main-content-width);
    height:var(--main-content-height);
    word-break:normal;
}
#left-menu {
    display:table-cell;
    background-color: #DAFFF6;
    width:var(--left-menu-width);
    height:inherit;
    vertical-align: top;
    border: 0px;
    border-bottom:0.1vh;
    border-right:0.1vw;
    border-style: solid;
    border-color: #b2e4d6;
}
#left-menu .periods {
    background: linear-gradient(0deg, grey 0px, white 2px);
    margin:0;
    font-size: 25px;
    padding-top: 3%;
    padding-bottom: 4%;
    text-align:center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none
}


#right-menu {
    display:table-cell;
    background-color:#95ECFF;
    width:var(--right-menu-width);
    height:inherit;
    text-align: center; /*centralize blocks of events*/
    vertical-align: top;
    border: 0px;
    border-bottom:.1vh;
    border-left:.1vw;
    border-style: solid;
    border-color: #b2e4d6;
}

#right-menu .events {
    display: inline-block;
    margin-top: 5%;
    width:70%;
    height:70px;
    border:0;
    background-color:rgb(214, 248, 255);    
    font-size: 20px;
    text-align: center;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

#content {
    display:table-cell;
    width:var(--content-width);
    height:inherit;
}
#content .main-page {
    display: block;
    background: url("img/00_brn.jpg") no-repeat;
    background-size:cover;
    height:inherit;
    border: 0px;
    border-bottom:0.1vh;
    border-style: solid;
    border-color: #b2e4d6;
    text-align: center;
}
#content .main-page .element-table {
    display: table;
    height: 500px;
    background:none;
}
#content .main-page .element-table .elements {
    display: table-row table-cell;
    background:none;
    vertical-align: top;
}
#content .main-page .element-table .elements .element {
    display: table-cell;
    font-family: 'Comfortaa';
    color: black;
    background-color:darkgray;
    text-shadow: -1px -1px 0 #fff, 
                1px -1px 0 #fff, 
                -1px 1px 0 #fff, 
                1px 1px 0 #fff;
    margin-top:100px;
    width:400px;
    height:200px;
    border:4px;
    border-style:solid;
    border-radius: 15px;
    border-color:aqua;
    text-align: center;
    vertical-align: middle;
}
#content .text-block .text {
    display: block;
    margin-left:10%;
    margin-right:10%;
}


#footer {
    background-color: #DAFFF6;
    width:100vw;
    height:var(--header-height);
}